*.py[co]
*.swp # vim keeps a temporary file open when editing
*.py~ i#
*.tar.gz # Ignore gzipped tarballs.
# Packages
*.egg
*.egg-info
dist
build
eggs
bin
lib
include
develop-eggs
src
# Local sqlite db
*.db
# static files collected for deployment
static_root/
# user uploaded files
data/
commons_project/pip-log.txt
.installed.cfg
.Python
