body {
    background-color: #F4EFDD;
    margin: 0px;
    font-family: 'Cabin','Gill Sans','Gill Sans MT','Helvetica Neue','Helvetica',Arial,sans-serif;
    font-size: 62.5%;
}

#main {
    background-color: #FFF;
    margin: 0 2em;
    padding: 2em;
    border: 1px solid #CAB39A;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    -moz-box-shadow: 0 0 3px #999;
    -webkit-box-shadow: 0 0 3px #999;
    box-shadow: 0 0 3px #999;
    clear: both;
    font-size: 1.5em;
    }

header {
    background-color: #000;
    height: 4em;
    border-bottom: 1px solid white;
    color: white;
}

header a {
    color: white;
    text-decoration: none;
}

header a:hover {
    color: green;
    text-decoration: underline;
}


header li {
    font-size: 1.3em;
    margin: 0.85em;
    margin-left: 0em;
}

#logo {
    margin: 0.7em;
    display: block;
    float: left;
    color: white;
    font-size: 1.5em;
}

#user {
    display: block;
    float: right;
    margin: 0px;
}

#user li {
    display: inline-block;
}

nav {
    clear: both;
}

nav ul {
    padding: 5px 0;
    margin: 0;
}

nav ul li {
    display: inline-block;
    float: none;
    list-style-type: none;
    padding: 0.5em;
    font-size: 1.5em;
}

nav ul li a {
    padding: 0.5em;
    background-color: white;
    border: 1px solid #CAB39A;
}

div {
    border: 1px solid red;
}

