{% extends 'simple.html' %}

{% block content %}
<div id="top-alert" style="display: block;">
    <h2>Civic Commons is currently in private beta.</h2>
</div>
<div class="yui3-g two_col" id="beta-invite-content">
    <div class="yui3-u-1-2">
    <div class="left-col yui3-g">
    <div class="yui3-u-1">
    <br/>
    </div>
    </div>
    </div>
    
    <div class="yui3-u-1-2 two-col">
    <div class="right-col yui3-g">
    <div class="yui3-u-1">
    <p>Thanks, we'll be in touch!</p>
    </div>
    </div>
    </div>
</div>
{% endblock %}
