{% extends 'userena/base_userena.html' %}
{% load i18n %}

{% block title %}{% blocktrans with profile.user.username as username %}{{ username }}'s profile.{% endblocktrans %}{% endblock %}
{% block content_title %}<h2>{{ profile.user.username }} {% if profile.user.get_full_name %}({{ profile.user.get_full_name }}){% endif %}</h2>{% endblock %}

{% block content %}
<div class="white-box">

  {% comment %}Dirty hack. Will use django-guardian in the future.{% endcomment %}
  {% if user.username == profile.user.username %}
  <ul id="box-nav">
    <li><a href="{% url userena_profile_detail user.username %}">{% trans "View profile" %} &raquo;</a></li>
    <li><a href="{% url userena_profile_edit user.username %}">{% trans "Edit details" %} &raquo;</a></li>
    <li><a href="{% url userena_password_change user.username %}">{% trans "Change password" %} &raquo;</a></li>
    <li><a href="{% url userena_email_change user.username %}">{% trans "Change email" %} &raquo;</a></li>
  </ul>
  {% endif %}

<div class="yui3-g"><!-- grid for main content area -->
            <div class="yui3-u-1-2">
                    <div class="title_image"><img src="{{ profile.get_mugshot_url }}"/></div>
                    <div class="title_info">

                        <h1>{{ profile.user.username }}</h1>

                    </div>
                    <div class="about">
                        <ul>
                            {% if profile.location %} <li><strong>located in: </strong> {{ profile.location }}</li> {% endif %}
                            {% if profile.affiliation %} <li><strong>currently at: </strong> <a href="../j/1/">{{ profile.affiliation }}</a></li> {% endif %}
                            {% if profile.title %} <li><strong>role: </strong>{{ profile.title }}</li> {% endif %}
                            <li><strong>bio:</strong>
                            <p>{{ profile.bio }}</p></li>
                        </ul>
                    </div> <!-- end about -->
            </div> <!-- end main title -->
            
            <div class="yui3-g"><!-- grid for two top columns headings -->
                <div class="yui3-u-1-2">
                    <div class="yui3-g">
                        <div class="yui3-u-1">
                        <h2 class="section-head">{{ profile.user.username }} uses:</h2>
                        </div>
                    </div>
                </div><!-- left col heading -->
                <div class="yui3-u-1-2">
                    <div class="yui3-u-1">
                        <h2 class="section-head">{{ profile.user.username }} contributes to:</h2>
                    </div> 
                </div><!-- right col heading -->
            </div> <!-- end grid for twop two column headings  -->
            <div class="yui3-g"><!-- grid for two top columns content -->
              <div class="yui3-u-1-2">
                <div class="left-col yui3-g">
                    <div class="yui3-u-1">  
                        <ul class="app-list">
                                    
                                        <li class="listed-app-name"><!--<img title="app-icon" src="/static//img/cog.png"/>-->
                                        <h3><a href="/apps/1/">Enterprise Addressing System</a></h3>
                                         
                                          
                                         <div class="star-ratings">
                                             <div id="star-rating-1" style="width: 100px; cursor: pointer; "><img id="star-rating-1-1" src="/static//img/star-on.png" alt="1" title="bad" class="star-rating-1">&nbsp;<img id="star-rating-1-2" src="/static//img/star-on.png" alt="2" title="poor" class="star-rating-1">&nbsp;<img id="star-rating-1-3" src="/static//img/star-off.png" alt="3" title="regular" class="star-rating-1">&nbsp;<img id="star-rating-1-4" src="/static//img/star-off.png" alt="4" title="good" class="star-rating-1">&nbsp;<img id="star-rating-1-5" src="/static//img/star-off.png" alt="5" title="gorgeous" class="star-rating-1"><input id="star-rating-1-score" type="hidden" name="score" value="2"></div>
                                         </div>  
                                        <a href="/apps/1/comments"><img title="comments" src="/static//img/comments.png"><span class="comments-link">read comments</span></a>
                                        </li>
                                    
                                        <li class="listed-app-name"><!--<img title="app-icon" src="/static//img/cog.png"/>-->
                                        <h3><a href="/apps/2/">IT Dashboard</a></h3>
                                         
                                          
                                         <div class="star-ratings">
                                             <div id="star-rating-2" style="width: 100px; cursor: pointer; "><img id="star-rating-2-1" src="/static//img/star-on.png" alt="1" title="bad" class="star-rating-2">&nbsp;<img id="star-rating-2-2" src="/static//img/star-on.png" alt="2" title="poor" class="star-rating-2">&nbsp;<img id="star-rating-2-3" src="/static//img/star-on.png" alt="3" title="regular" class="star-rating-2">&nbsp;<img id="star-rating-2-4" src="/static//img/star-on.png" alt="4" title="good" class="star-rating-2">&nbsp;<img id="star-rating-2-5" src="/static//img/star-off.png" alt="5" title="gorgeous" class="star-rating-2"><input id="star-rating-2-score" type="hidden" name="score" value="4"></div>
                                         </div>  
                                        <a href="/apps/2/comments"><img title="comments" src="/static//img/comments.png"><span class="comments-link">read comments</span></a>
                                        </li>
                                    
                                        <li class="listed-app-name"><!--<img title="app-icon" src="/static//img/cog.png"/>-->
                                        <h3><a href="/apps/3/">Fire Department App</a></h3>
                                         
                                          
                                         <div class="star-ratings">
                                             <div id="star-rating-3" style="width: 100px; cursor: pointer; "><img id="star-rating-3-1" src="/static//img/star-on.png" alt="1" title="bad" class="star-rating-3">&nbsp;<img id="star-rating-3-2" src="/static//img/star-on.png" alt="2" title="poor" class="star-rating-3">&nbsp;<img id="star-rating-3-3" src="/static//img/star-off.png" alt="3" title="regular" class="star-rating-3">&nbsp;<img id="star-rating-3-4" src="/static//img/star-off.png" alt="4" title="good" class="star-rating-3">&nbsp;<img id="star-rating-3-5" src="/static//img/star-off.png" alt="5" title="gorgeous" class="star-rating-3"><input id="star-rating-3-score" type="hidden" name="score" value="2"></div>
                                         </div>  
                                        <a href="/apps/3/comments"><img title="comments" src="/static//img/comments.png"><span class="comments-link">read comments</span></a>
                                        </li>
                                    
                                </ul>
                      <!--<div class="media-gallery-1col"></div>
                      <p>this is explaining the app</p> -->
                    </div>
                </div>
            </div><!-- left col content -->
              <div class="yui3-u-1-2">
                 <div class="right-col yui3-g">
                   <div class="yui3-u-1">
                            <ul class="app-list">
                                    
                                        <li class="listed-app-name"><!--<img title="app-icon" src="/static//img/cog.png"/>-->
                                        <h3><a href="/apps/1/">Enterprise Addressing System</a></h3>
                                         
                                          
                                         <div class="star-ratings">
                                             <div id="star-rating-1" style="width: 100px; cursor: pointer; "><img id="star-rating-1-1" src="/static//img/star-on.png" alt="1" title="bad" class="star-rating-1">&nbsp;<img id="star-rating-1-2" src="/static//img/star-on.png" alt="2" title="poor" class="star-rating-1">&nbsp;<img id="star-rating-1-3" src="/static//img/star-off.png" alt="3" title="regular" class="star-rating-1">&nbsp;<img id="star-rating-1-4" src="/static//img/star-off.png" alt="4" title="good" class="star-rating-1">&nbsp;<img id="star-rating-1-5" src="/static//img/star-off.png" alt="5" title="gorgeous" class="star-rating-1"><input id="star-rating-1-score" type="hidden" name="score" value="2"></div>
                                         </div>  
                                        <a href="/apps/1/comments"><img title="comments" src="/static//img/comments.png"><span class="comments-link">read comments</span></a>
                                        </li>
                                    
                                        
                                    
                                        <li class="listed-app-name"><!--<img title="app-icon" src="/static//img/cog.png"/>-->
                                        <h3><a href="/apps/3/">Fire Department App</a></h3>
                                         
                                          
                                         <div class="star-ratings">
                                             <div id="star-rating-3" style="width: 100px; cursor: pointer; "><img id="star-rating-3-1" src="/static//img/star-on.png" alt="1" title="bad" class="star-rating-3">&nbsp;<img id="star-rating-3-2" src="/static//img/star-on.png" alt="2" title="poor" class="star-rating-3">&nbsp;<img id="star-rating-3-3" src="/static//img/star-off.png" alt="3" title="regular" class="star-rating-3">&nbsp;<img id="star-rating-3-4" src="/static//img/star-off.png" alt="4" title="good" class="star-rating-3">&nbsp;<img id="star-rating-3-5" src="/static//img/star-off.png" alt="5" title="gorgeous" class="star-rating-3"><input id="star-rating-3-score" type="hidden" name="score" value="2"></div>
                                         </div>  
                                        <a href="/apps/3/comments"><img title="comments" src="/static//img/comments.png"><span class="comments-link">read comments</span></a>
                                        </li>
                                    
                                </ul>
                    
                 </div>   
            </div>
        </div><!-- right col content -->
            </div> <!-- end grid for top two column contents -->
            
            
            <div class="yui3-g">
                <div class="yui3-u-1 full-width">
                  <h2> Leave {{ profile.user.username }} a note</h2>
                     <div class="disqus-div"> 
                      {% load disqus_tags %} 
                      {% disqus_show_comments %}
                      </div>
                 </div> <!-- end comments, recent activity -->
                <div class="yui3-u-1 full-width">
                     <h2 class="section-head">{{profile.user.username}}'s network</h2>
                   <ul class="user-strip">
                        <!-- for top 26 people in jurisdiction (by activity) -->
                    <li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li>
                    <li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li>
                        <!-- endfor -->
                </ul>
           </div> <!-- end people pic list -->
           </div> <!-- end disqus and people pics --> 
		   </div> <!-- end main content area -->


{% comment %}

  <div id="details">
    <img src="{{ profile.get_mugshot_url }}" alt="{% trans "Your mugshot" %}" />
    {% if profile.user.get_full_name %}
    <p><strong>{% trans "Name" %}</strong><br /> {{ profile.user.get_full_name }}</p>
    {% endif %}
    {% if profile.user.email %}
    <p><strong>{% trans "Email" %}</strong><br />{{ profile.user.email }}</p>
    {% endif %}
    {% if profile.age %}
    <p><strong>{% trans "Age" %}</strong><br /> {{ profile.age }}</p>
    {% endif %}
    {% if profile.website %}
    <p><strong>{% trans "Website" %}</strong><br /> <a href="{{ profile.website }}">{{ profile.website }}</a></p>
    {% endif %}
    {% if profile.location %}
    <p><strong>{% trans "Location" %}</strong><br />{{ profile.location }}</p>
    {% endif %}
    {% if profile.about_me %}
    <p><strong>{% trans "About me" %}</strong><br />{{ profile.about_me }}</p>
    {% endif %}
</div>
{% endcomment %}
</div>
{% endblock %}
