{% extends 'userena/base_userena.html' %}
{% load i18n %}

{% block content_title %}<h2>{% trans 'Profiles' %}</h2>{% endblock %}

{% block content %}

<div class="yui3-g"><!-- grid for main content area -->
            <div class="yui3-u-1-2">
                    {% for profile in profile_list %}
                    <div class="title_image">
                    <a href="{% url userena_profile_detail profile.user.username %}">
                    <img src="{{ profile.get_mugshot_url }}"/>
                    </a>
                    </div>
                    
                    <div class="title_info">

                        <h1> <a href="{% url userena_profile_detail profile.user.username %}">{{ profile.user.username }}</a></h1>

                    </div>
                    <div class="about">
                        <ul>
                            <li><strong>currently at: </strong> <a href="../j/1/">San Francisco</a></li>
                            <li><strong>as: </strong>Assistant Director of Operations Research </li>
                        </ul>
                    </div> <!-- end about -->
                      {% endfor %}
            </div> <!-- end title -->
            
</div><!-- end main -->


{% if is_paginated %}
<div class="pagination">
  <span class="step-links">
    {% if page_obj.has_previous %}
    <a href="{% url userena_profile_list_paginated page_obj.previous_page_number %}">{% trans 'previous' %}</a>
    {% endif %}

    <span class="current">
      {% blocktrans with page_obj.number as page and page_obj.paginator.num_pages as num_pages %}
      Page {{ page }} of {{ num_pages }}
      {% endblocktrans %}
    </span>

    {% if page_obj.has_next %}
    <a href="{% url userena_profile_list_paginated  page_obj.next_page_number %}">{% trans 'next' %}</a>
    {% endif %}
  </span>
</div>
{% endif %}
{% endblock %}
