<!DOCTYPE html>
<html>
    <head>
        <link href='http://fonts.googleapis.com/css?family=Cabin:regular,regularitalic,bold,bolditalic' rel='stylesheet' type='text/css'>

        <meta charset=utf-8 />
        <title>{% block title %}{% endblock %}</title> 
        <link rel="stylesheet" href="{{ STATIC_URL }}css/style.css" type="text/css" />
        <!-- IMPORTANT Remember to update the files, run : -->
        <!--  ./manage.py collectstatic  -->
    </head>
    <body>
        {% include "topbar.html" %}
        {% include "nav.html" %}
        <section id="main">
        {% block content %}{% endblock %}
        </section>
    </body>
</html>
