            <div class="yui3-g">
            <div class="yui3-u-1">
                <div class="nav-bar">
                    <ul class="yui3-g">
                        <li class="yui3-u-1-12"><div class="nav-item"><a href="/">Home</a></div></li>
                        <li class="yui3-u-1-12"><div class="nav-item"><a href="/apps/">Apps</a></div></li>
                        <li class="yui3-u-1-12"><div class="nav-item"><a href="/j/">Cities</a></div></li>
                        <li class="yui3-u-1-12"><div class="nav-item"><a href="/users/">People</a></div></li>
                        <li class="yui3-u-7-12"><div class="nav-item"><input type="search"/><input type="button" value="search"/></div></li>
                    </ul>
                </div>
            </div>
            </div><!-- navigation -->
       
        </div>