{% extends "base.html" %}
{% block mohead %}

{% endblock %}
{% block title %}Enter a new Deployment for {{ app.name}}{% endblock %}

{% block content %}
    <h1>Add a New Deployment for {{app.name}}:</h1>
    <form action="" method="post">
    {% csrf_token %}
    
    {{ form }}
    
    <input type="hidden" name="app_id" value="{{app.id}}"/>
    <input type="submit" value="Save"/>
    </form>
    
<script type="text/javascript">
<!-- 
var selectmenu = document.getElementById("jurselect");
selectmenu.onchange=function() {
    var chosenoption=this.options[this.selectedIndex] //this refers to "selectmenu"
    if (chosenoption.value=="-1"){
        var nujx=prompt("Please enter a new JX","");
        AddSelectOption(this, nujx, nujx, true);
    }
}
function AddSelectOption(selectObj, text, value, isSelected) 
{
    if (selectObj != null && selectObj.options != null)
    {
        selectObj.options[selectObj.options.length] = 
            new Option(text, value, false, isSelected);
    }
}
-->
</script>
{% endblock %}
