{% extends "base.html" %}
{% block title %}Detail of {{ app.name}}{% endblock %}

{% block content %}
    <h1>About the {{ app.name }}:</h1>
    <h3>{{app.description}}</h3>
    <h2>Jurisdictions which have deployed:</h2>
    <ul>
        {% for dep in app.deployment_set.all %}
        <li><a href="/dep/{{dep.id}}">{{ dep.jurisdiction.name }}</a></li>
        {% endfor %}
    </ul>
    <h2>Features of the {{ app.name }}:</h2>
     <ul>
        {% for feat in app.features.all %}
        <li>{{ feat.feature }}</li>
        {% endfor %}
    </ul>
    <h2>Google Search results for {{ app.name }}:</h2>
    <ul>
        {% for result in results %}
        <li><a href="{{ result.unescapedUrl }}" target="newpage">{{ result.title|safe }}</a></li>
        {% endfor %}
    </ul>
    <h2> What are people saying about the {{ app.name }}:</h2>
    {% load disqus_tags %}
    {% disqus_show_comments %}
    
{% endblock %}
