{% extends "base.html" %}

{%block title%}Civic Commons App Catalog{%endblock%}

{% block content %}
    <div class="yui3-g"><!-- grid for main content area -->
            <div class="yui3-u-1">
                <div id="top-alert">
                    <h2>
                    <a href="/">log-in</a> to get access to great case studies, vendors, experts and more!
                    </h2>
                </div>
            </div>
        
            <div class="yui3-u-1">
                <h1>Welcome</h1>
            </div> <!-- end main title -->


            <div class="yui3-g"><!-- grid for two top columns headings -->
                <div class="yui3-u-1-2">
                    <div class="yui3-g">
                        <div class="yui3-u-1">
                        <h2 class="section-head">Spotlight</h2>
                        </div>
                    </div>
                </div><!-- left col heading -->
                <div class="yui3-u-1-2">
                    <div class="yui3-u-1">
                        <h2 class="section-head">Civic BoyHowdy!</h2>
                    </div> 
                </div><!-- right col heading -->
            </div> <!-- end grid for twop two column headings  -->
            <div class="yui3-g"><!-- grid for two top columns content -->
              <div class="yui3-u-1-2">
                <div class="left-col yui3-g">
                    <div class="yui3-u-1">  

                      <div class="media-gallery-1col"></div>
                      <p>this is explaining the app</p>
                    </div>
                </div>
            </div><!-- left col content -->
              <div class="yui3-u-1-2">
                 <div class="right-col yui3-g">
                   <div class="yui3-u-1">
                    <p>The app catalog is the watering hole where those in the know share what's new with civic technology and the cities that rely on it. Go ahead and browse by <a href="">category</a>, or take a look at the <a href="">cities</a> to see a bird's eye view of who's using what, and what they're saying about it.</p>
                </div>   
            </div>
        </div><!-- right col content -->
            </div> <!-- end grid for top two column contents -->
            
            
            <div class="yui3-g"> <!-- grid for category head , may be uneeded -->
                <div class="yui3-u-1-3">
                     <h2 class="section-head">Browse by Category</h2>
                </div>
            </div> <!-- category browser head -->
            
            <ul class="yui3-g category-strip"> 
            
                <li class="yui3-u-1-6"><div class="cat-strip-item"></div><img src="" />blargh</li>
                <li class="yui3-u-1-6"><div class="cat-strip-item"></div><img src="" />blargh</li>
                <li class="yui3-u-1-6"><div class="cat-strip-item"></div><img src="" />blargh</li>
                <li class="yui3-u-1-6"><div class="cat-strip-item"></div><img src="" />blargh</li>
                <li class="yui3-u-1-6"><div class="cat-strip-item"></div><img src="" />blargh</li>
                <li class="yui3-u-1-6"><div class="cat-strip-item"></div><img src="" />blargh</li>
            
            </ul> <!-- grid for category browser -->


            <div class="yui3-g"><!-- grid for two top columns headings -->
                <div class="yui3-u-1-2">
                    <div class="yui3-g">
                        <div class="yui3-u-1">
                        <h2 class="section-head">New & Hot</h2>
                        </div>
                    </div>
                </div><!-- left col heading -->
                <div class="yui3-u-1-2">
                    <div class="yui3-u-1">
                        <h2 class="section-head">What's Happening</h2>
                    </div> 
                </div><!-- right col heading -->
            </div> <!-- end grid for bottom two column headings  -->
            <div class="yui3-g"><!-- grid for two top columns content -->
                <div class="yui3-u-1-2">
                    <div class="left-col yui3-g">
                        <div class="yui3-u-1">                          
                            {% if latest_app_list %}
                                <ul class="app-list">
                                    {% for app in latest_app_list %}
                                        <li class="listed-app-name"><!--<img title="app-icon" src="{{ STATIC_URL }}/img/cog.png"/>-->
                                        <h3><a href="/apps/{{ app.id }}/">{{ app.name }}</a></h3>
                                         
                                         <!-- 
                                         <div class="star-ratings">
                                             <div id="star-rating-{{ app.id }}"></div>
                                         </div>  -->  
                                        <a href="/apps/{{ app.id }}/comments"><img title="comments" src="{{ STATIC_URL }}/img/comments.png"/><span class="comments-link">read comments</span></a>
                                        </li>
                                    {% endfor %}
                                </ul>
                             {% else %}
                                <p>No apps are available.</p>
                             {% endif %}

                        </div> <!-- end list div -->
                    </div>
                </div><!-- end left col content -->
                <div class="yui3-u-1-2">
                    <div class="right-col yui3-g">
                        <div class="yui3-u-1">
                            <ul class="recent-activity">
                                <li></li>
                                <li></li>
                            </ul>
                        </div>   
                   </div>
                </div><!-- end right col content -->
            </div> <!-- end grid for bottom two column contents new & hot and what's happening -->
    </div> <!-- end main content area -->
    
    <script type="text/javascript">
    	$(function() {
    	    
    	    
    	    
    	    {% if latest_app_list %}
    	         {% for app in latest_app_list %}
    	            $('#star-rating-{{ app.id }}').raty({
                        path: "{{STATIC_URL}}/img/",
                        start: Math.floor(Math.random()*6)
                        });
                 {% endfor %}
             {% endif %}
             
              {% if user.is_authenticated %}
    	         $('#top-alert').hide();
    	     {% else %}
        	     $('#top-alert').show('fast');
    	     {% endif %}
             
             
    	});
    </script>
    
    {% endblock %}